/* Font Link*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* Common CSS Start*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}


/* Common CSS End*/


/*Header Part Start*/

.header_part {
    background: #282828;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.logo {
    cursor: pointer;
}

.nav ul {
    display: flex;
    cursor: pointer;
}

.nav ul li {
    width: 100px;
    color: #fff;
}

.nav ul li.active {
    color: #cc4277;
}

.nav ul li:hover {
    color: #cc4277;
}


/*Header Part End*/


/*Slider Part start*/

.slider_part {
    background: url(Images/slider_bg.jpg);
    background-size: cover;
    background-position: center;
}

.slider_overlay {
    background: rgba(0, 0, 0, .5);
    padding: 150px 0;
}

.slider_con h1 {
    font-size: 72px;
    color: #fff;
}

.slider_con p {
    padding: 35px 0;
    color: #fff;
    font-size: 20px;
}

.slider_con_btn {
    width: 220px;
    height: 60px;
    background: #cc4277;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #cc4277;
    transition: 0.4s;
}

.slider_con_btn:hover {
    background: transparent;
    border: 2px solid #fff;
}

.slider_con_btn a {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
}

footer{
    color: white;
    background: #282828;
}


/*Slider Part end*/